<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
<!-- 	
		<header>
			<img src="" alt="">
			<nav>
		   <ul>
			   <li><a href="#">News</a></li>
			   <li><a href="#">Sport</a></li>
			   <li><a href="#">Weather</a></li>
			   <li><a href="#">Shop</a></li>
			   <li><a href="#">Earth</a></li>
			   <li><a href="#">Travel</a></li>
			   <li><a href="#">Capital</a></li>
			   <li><a href="#">Culture</a></li>
			   <li><a href="#">More</a></li>
			  
		   </ul>
			</nav>
		 <form action="search">
			 <input type="search" name="search" id="search" placeholder="Search">
		 </form> 
		</header>
		
		<main>
		
		<section>
		<h3>Welcome to BBC.com</h3>
		<h3>Wednesday, 11 January</h3>
		</section>
		
		<section>
		
			<section>
				<h1>Trump condemns spy agency 'leaks'</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facere necessitatibus deleniti aperiam laborum? Incidunt quibusdam, quidem, dolor voluptates ut aut maiores rerum tempore officiis laborum facere? Saepe, explicabo reprehenderit?</p>
				<span>US & CANADA</span>
			</section>
		
		</section>
		 
		<section>
			<section>
				
				<h3>How did 'compromising' Trump claims come to light</h3>
				<span>| US </span>
			</section>
		
			<section>
				<h3>Tillerson accepts Putin knew of hacking</h3>
				<span>US & CANADA</span>
			</section>
			<section>
				<h3>Oxford academics warning of Brexit 'disaster'</h3>
				<span>EDUCATION & FAMILY</span>
			</section>
			<section>
				<h3>Why open offices are bad for us</h3>
				<span>CAPITAL</span>
			</section>
		</section>
		</main>
		
		<section class="news">
		<h2>News</h2>
		<section>
			<h2>News</h2>
			<section>
				<img src="#" alt="">
			</section>
			<section>
				<img src="#" alt="">
			</section>
		
			<section>
				<img src="#" alt="">
			</section>
		
		</section>
		 -->
	
		 <header>
			<img src="" alt="">
			<span></span>
			<nav>
				<ul>
					<li><a href="#">News</a></li>
					<li><a href="#">Sports</a></li>
					<li><a href="#">Weather</a></li>
					<li><a href="#">Shop</a></li>
					<li><a href="#">Earh</a></li>
					<li><a href="#">Travel</a></li>
					<li><a href="#">Capital</a></li>
					<li><a href="#">Culture</a></li>
					<li><a href="#">More</a></li>
				</ul>
			</nav>
			<form action="">
				<input type="text">
			</form>
		</header>
		<main>
			<h3>Welcome To The BBC</h3>
			<h3>Wednesday, 11 January</h3>
			<section class="mainCow">
				<h1>Trump did something</h1>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui voluptate totam amet corrupti ad nihil excepturi voluptatem harum, eligendi sapiente! Reprehenderit consequatur ipsam ad fuga culpa molestias id corrupti odit! </p>
				<span>USA</span>
			</section> 
			<section>
				<section>
					<h2>Something was compromised</h2>
					<span>CANADA</span>
				</section>
				<section>
					<h2>Oxford academics found comparable to ICDC </h2>
					<span>EDUCATION</span>
				</section>
				<section>
					<h2>Open Offices are bad for our health</h2>
					<span>CAPITAL</span>
				</section>
				<section>
					<h2>Don't mess with mama</h2>
					<span>MAMA</span>
				</section>
			</section>
		</main>
		<section class='news'>
			<h2>News</h2>
			<section>
				<img src="https://images.unsplash.com/photo-1568038100292-c75e7d6b9d82?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y293c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
			</section>
			<section>
				<img src="https://images.unsplash.com/photo-1551298457-c72eced6d0ad?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGNvd3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
			</section>
			<section>
				<img src="https://images.unsplash.com/photo-1557090641-4e970542627b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGNvd3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
			</section>
		</section>


		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
