*{
    box-sizing: border-box;
    margin: auto;
}

header,footer{
    height: 20vh;
    border: 2px solid black ;
    clear: both;
}

.top{
    height: 20vh;
    width: 33.333%;
    border: 2px solid red;
    float: left;
    
}

.btm{
    height: 40vh;
    width: 50%;
    float: right;
    border: 2px solid blue;
    clear: left;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    header {
      background: blue;
    }
    footer{
        background: orange;
    }
    section{
        background: yellow;
    }
    .top{
        width: 100%;
    }
    .btm{
        width: 100%;
    }
  }
